.container {
  width: 100%;
  align-items: center;
}

.cardsRow {
  width: 100%;
  max-width: 1200px;
  gap: 2rem;
  
  @media (min-width: 768px) {
    flex-direction: row !important;
    justify-content: space-between;
  }
  
  @media (max-width: 767px) {
    flex-direction: column;
    gap: 1.5rem;
  }
}
